# Python
.env
.venv/
venv/
__pycache__/
*.pyc
search_cache.json
exports/

# Front
node_modules/
leadgen-app/node_modules/
leadgen-app/.vercel/

# Mac
.DS_Store
__MACOSX/

# Git / local
.git/venv 03-48-40-994/
